* {
    font-family: "Nunito", sans-serif;
    ;
}

body {
    background-color: white;
}

.cust-button {
    transform: scale(1);

    transition: 0.2s ease-in-out;
}

.cust-button:hover {
    transform: scale(0.9);

}

.help {
    transform: scale(1);

    transition: 0.2s ease-in-out;
}

.help:hover {
    transform: scale(0.95);

}

button {
    cursor: pointer !important;
}

iframe {
    border-radius: 20px;
    width: 100%;
    height: 90%;
    /* Removes the border around the iframe, you can remove this line if you want the border */
    border: 0;
}